.login-container {
  background-color: #7ae334; /* Color info */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 25rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

mat-form-field {
  width: 100%;
}

.full-width {
  width: 100%;
}

.error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}
