<div class="container mt-5">
  <h1 class="text-center mb-4">Rick and Morty</h1>

  <!-- Barra de búsqueda -->
  <div class="input-group mb-3">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
      placeholder="Buscar por ID o Nombre"
      class="form-control"
    />
    <span class="input-group-text bg-primary text-white">Buscar</span>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered shadow-lg">
      <thead class="bg-primary text-white text-center">
        <tr>
          <th scope="col" class="text-center">
            <button 
              class="btn btn-primary text-white px-2 py-1 border-0"
              (click)="changeSortField('id')"
              [class.sorted-asc]="sortBy === 'id' && sortDirection === 'asc'"
              [class.sorted-desc]="sortBy === 'id' && sortDirection === 'desc'"
            >
              ID
            </button>
          </th>                   
          <th scope="col" class="text-center">
            <button 
              class="btn btn-primary text-white px-2 py-1 border-0"
              (click)="changeSortField('name')"
              [class.sorted-asc]="sortBy === 'name' && sortDirection === 'asc'"
              [class.sorted-desc]="sortBy === 'name' && sortDirection === 'desc'"
            >
              Name
            </button>
          </th>          
          <th scope="col">Image</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let character of filteredCharacters | paginate: { itemsPerPage: pageSize, currentPage: currentPage }; let i = index"
        >
          <td class="text-center">{{ character.id }}</td>
          <td>{{ character.name }}</td>
          <td class="text-center">
            <img
              [src]="character.image"
              alt="{{ character.name }}"
              class="img-thumbnail"
              style="width: 120px; height: 120px; object-fit: cover;"
            />
          </td>
          <td class="text-center">
            <!-- Botón Editar -->
            <button
  type="button"
  class="btn btn-warning btn-sm mx-2"
  data-toggle="modal"
  data-target="#editCharacterModal"
  (click)="openEditModal(i)"
>
  <i class="bi bi-pencil"></i> Editar
</button>


            <!-- Botón Eliminar -->
            <button
            type="button"
            class="btn btn-danger btn-sm mx-2"
            (click)="confirmDeleteCharacter(i)"
          >
            <i class="bi bi-trash"></i> Eliminar
          </button>          

            <!-- Botón Ver Más -->
            <button
              type="button"
              class="btn btn-info btn-sm mx-2"
              data-toggle="modal"
              data-target="#viewMoreModal"
              (click)="openViewMoreModal(i)"
            >
              <i class="bi bi-info-circle"></i> Ver Más
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-3">
    <span class="text-muted">
      Showing {{ startIndex + 1 }} to {{ endIndex }} of {{ filteredCharacters.length }} entries
    </span>

    <div class="d-flex justify-content-center align-items-center my-3">
      <button 
        (click)="goToFirstPage()" 
        [disabled]="currentPage === 1" 
        class="btn btn-primary mx-2"
      >
        First
      </button>
      <button 
        (click)="previousPage()" 
        [disabled]="currentPage === 1" 
        class="btn btn-primary mx-2"
      >
        Previous
      </button>
      <span class="mx-3 text-primary">
        Page {{ currentPage }} of {{ totalPages }}
      </span>
      <button 
        (click)="nextPage()" 
        [disabled]="endIndex >= filteredCharacters.length || currentPage * pageSize >= totalCharacters" 
        class="btn btn-primary mx-2"
      >
        Next
      </button>
      <button 
        (click)="goToLastPage()" 
        [disabled]="currentPage * pageSize >= totalCharacters" 
        class="btn btn-primary mx-2"
      >
        Last
      </button>
    </div>    
  </div>
</div>


<!-- Modal de Editar -->
<div
  class="modal fade"
  id="editCharacterModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editCharacterModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCharacterModalLabel">Editar Nombre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="characterName">Nombre del Personaje</label>
            <input
              type="text"
              class="form-control"
              id="characterName"
              [(ngModel)]="tempCharacter.name"
              name="characterName"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveCharacterChanges()">
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal de Ver Más -->
<div
  class="modal fade"
  id="viewMoreModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewMoreModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewMoreModalLabel">Detalles del Personaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedCharacter">
          <h5>{{ selectedCharacter.name }}</h5>
          <img [src]="selectedCharacter.image" alt="{{ selectedCharacter.name }}" width="150" />
          <p><strong>ID:</strong> {{ selectedCharacter.id }}</p>
          <p><strong>Status:</strong> {{ selectedCharacter.status }}</p>
          <p><strong>Species:</strong> {{ selectedCharacter.species }}</p>
          <p><strong>Gender:</strong> {{ selectedCharacter.gender }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

